$color-background: rgb(0, 0, 0);
$color-foreground: hsl(0, 0%, 98%);
$color-primary: hsl(103, 59%, 52%);
$color-on-primary: hsl(0, 0%, 6%);
//$hyperlink-color: #177114;
$hyperlink-color: white;

body {
  //margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
  color: $color-foreground;
  max-width: 100vw;
  overflow-x: hidden;
  //margin: 16px auto;
  //padding: 16px 32px;
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $color-background;
}
::-webkit-scrollbar-thumb {
  background-color: lighten($color-background, 20%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 32px;
}
h3 {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 600;
}

p {
  color: darken($color-foreground, 25%);
  //max-width: 75ch;
}

article {
  display: grid;
  justify-items: center;
  text-align: center;
}

a {
  color: $color-primary;
}

ul {
  color: darken($color-foreground, 25%);
  padding-left: 0;
}

.table-container {
  max-width: 90vw;
  overflow-x: scroll;
  margin-top: 32px;
}
table {
  border: 1px solid darken($color-foreground, 80%);
  border-radius: 4px;
  overflow: auto;
  width: 90vw;
  thead {
    // position: sticky;
    // top: 0;
    background-color: $color-background;
  }
  th {
    color: darken($color-foreground, 40%);
    font-size: 14px;
  }
  td,
  th {
    padding: 16px;
    min-width: 20ch;
    text-align: left;
  }
  tr {
    box-shadow: 0 1px 0 0 darken($color-foreground, 80%);
  }
  tbody tr:last-child {
    box-shadow: none;
  }
}

.button {
  padding: 16px;
  background-color: $color-primary;
  color: $color-on-primary;
  text-decoration: none;
  display: inline-flex;
  text-transform: capitalize;
  border-radius: 4px;
  width: fit-content;
  &--cta {
    font-size: 22px;
    font-weight: 600;
  }
  &--2nd {
    background-color: $color-background;
    border: 1px solid $color-foreground;
    color: $color-foreground;
  }
}

header {
  list-style: none;
}

img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
}

.header {
  max-width: calc(100vw - 4rem);
  display: flex;
  justify-content: space-between;
  &__left {
    z-index: 2;
    img {
      max-height: 6rem;
      max-width: 6rem;
    }
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  a {
    background-color: $color-primary;
    color: white;
  }
}

.contentContainer--right {
  z-index: 2;
  background-image: url("./images/Patrick1Right.png");
  background-position: right;
  @media only screen and (max-width: 1110px) {
    // properties for smaller screens
    background-size: cover;
  }
  background-size: 90% 100%;
  background-repeat: no-repeat;

  min-height: 18rem;
  width: 100%;
  height: auto;
  max-width: calc(100vw - 6rem);

  padding: 5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  @media only screen and (max-width: 500px) {
    // properties for smaller screens
    padding: 3rem;
    position: relative;
    left: 0;
  }

  p {
    color: white;
    max-width: 75ch;
  }
  a {
    color: blue;
  }
}

.contentContainer--left {
  z-index: 2;
  background-image: url("./images/Patrick1.png");
  background-position: left;
  @media only screen and (max-width: 1110px) {
    // properties for smaller screens
    background-size: cover;
  }
  background-size: 90% 100%;
  background-repeat: no-repeat;

  min-height: 18rem;
  width: 100%;
  max-width: calc(100vw - 6rem);
  height: auto;

  padding: 5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media only screen and (max-width: 500px) {
    // properties for smaller screens
    padding: 3rem;
    position: relative;
    left: 0;
  }

  p {
    color: white;
    max-width: 75ch;
  }
  a {
    color: blue;
  }
}

.main {
  display: grid;
  grid-gap: 64px;
  background-image: url("./images/MicrosoftTeams-image.png");
  background-position: center;
  background-size: contain;
  background-repeat: repeat-y;
}

.main--container {
  padding: 1rem 2rem 2rem 2rem;
  @media only screen and (max-width: 500px) {
    // properties for smaller screens
    padding: 1rem 0 2rem 0;
  }
}

.banner {
  display: grid;
  align-items: center;
  grid-gap: 32px;
  justify-content: center;
  max-width: calc(100vw - 4rem);
  &__copy {
    display: grid;
    text-align: center;
    z-index: 2;
  }
  &__subheading {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
}

.LandingPage {
  a {
    z-index: 2;
  }
}

.videoTag {
  width: 100vw;
  position: absolute;
  top: 0;
  @media only screen and (max-width: 1110px) {
    // properties for smaller screens
    top: 15vh;
  }
  @media only screen and (max-width: 500px) {
    // properties for smaller screens
    top: 35vh;
  }
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

.socials {
  padding-top: 2rem;
  display: flex;
  gap: 16px;
  a {
    padding: 0;
    height: 48px;
    width: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $hyperlink-color;
    border: 1px solid $hyperlink-color;
    border-radius: 4px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.stack {
  padding-top: 55vh;
  @media only screen and (max-width: 1000px) {
    // properties for smaller screens
    padding-top: 35vh;
  }
  @media only screen and (max-width: 600px) {
    // properties for smaller screens
    padding-top: 15vh;
  }
  //position: absolute;
  //top: calc(35vh + (100vw * (9 / 16)));
  display: grid;
  grid-gap: 32px;
  max-width: calc(100vw - 4rem);
  &--jic {
    justify-items: center;
  }
}

.media-shelf-container {
  display: grid;
  position: relative;
  margin: 0 -32px 32px;
  &:before {
    content: "";
    height: 100%;
    width: 32px;
    /*background: linear-gradient(
      90deg,
      transparentize($color-background, 0.5),
      transparentize($color-background, 1)
    );*/
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: "";
    height: 100%;
    width: 32px;
    /*background: linear-gradient(
      270deg,
      transparentize($color-background, 0.5),
      transparentize($color-background, 1)
    );*/
    position: absolute;
    top: 0;
    right: 0;
  }
}
.media-shelf {
  --size: 256px;
  --gap: 32px;
  display: grid;
  grid-auto-flow: column;
  gap: calc(var(--gap) / 2);
  margin: 0;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-inline: var(--gap);
  scroll-padding-inline: var(--gap);
  padding-block: calc(var(--gap) / 2);
  scroll-snap-type: inline mandatory;
  & li {
    display: inline-block;
    text-align: left;
  }
  & h2 {
    text-align: center;
  }
  & figure {
    display: grid;
    gap: calc(var(--gap) / 2);
    margin: 0;
    scroll-snap-align: start;
    background: lighten($color-background, 4%);
    padding: 10px;
    padding-bottom: 32px;
    border-radius: 4px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
  }
  & figcaption {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
  &--item {
    width: 24rem;
  }
  button {
    background-color: $color-primary;
    color: white;
  }
  &--list-item {
    display: list-item !important;
    list-style-position: inside;
  }
}

.media-modal {
  padding: 2rem;
  &--container {
    max-height: 90vh;
    background-color: rgba(36, 35, 35, 0.75);
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    h1 {
      text-transform: capitalize;
    }
    button {
      background-color: $color-primary;
      position: absolute;
      top: 3rem;
      right: 4rem;
    }
    img {
      object-fit: contain;
      max-height: calc(90vh - 6rem);
    }
    p {
      color: white;
      font-size: large;
      max-width: 75ch;
    }
    &--text {
      padding-left: 1rem;
    }
  }
}

.chartModal {
  padding: 2rem;
  padding-top: 8rem;
  &--container {
    padding: 1rem;
    background-color: rgba(36, 35, 35, 0.75);

    display: flex;
    flex-direction: column;

    button {
      background-color: $color-primary;
      position: absolute;
      top: 9rem;
      right: 4rem;
    }
    p {
      max-width: calc(100vw - 6rem);
    }
  }
}

footer {
  margin-top: 128px;
  text-align: center;
}

.pie-chart {
  max-height: 80vh;
}

.Faq {
  h1 {
    padding-bottom: 2rem;
  }
  p {
    color: black;
  }
}

.FaqAccordion {
  padding-top: 1rem;
}

.buy {
  padding-top: 2rem;
  h1 {
    text-align: center;
  }
  p {
    max-width: calc(100vw - 6rem);
  }
}

.whitepaper-tabs {
  position: sticky;
  top: 0rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  a {
    color: #177114;
  }

  display: flex;
  flex-direction: row;
  list-style: none;
  overflow-x: scroll;

  &--item {
    white-space: nowrap;
    padding: 0.5rem;
    &--dropdown {
      display: none;
    }
  }
  &--item:hover a {
    color: $color-primary !important;
  }
  &--item:hover &--item--dropdown {
    display: flex;
    flex-direction: column;
  }
  &--item--dropdown {
    list-style: circle;
  }
}

.whitepaper {
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    padding-bottom: 2rem;
  }
}

.stepperButtons {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stepperContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    max-height: 50vh;
    max-width: 50vw;
  }
  &--text {
    display: flex;
    flex-direction: column;
  }
}

.MuiStepLabel-label,
.Mui-active,
.Mui-completed {
  color: $color-primary !important;
}

.GettingStarted {
  h1 {
    text-align: center;
    padding: 1.5rem;
  }
}

.community {
  padding-left: 3rem;
  @media only screen and (max-width: 450px) {
    // properties for smaller screens
    padding-left: 1rem;
  }
}
